@model WebApplication6.Models.thenews

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>thenews</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tital" class="control-label"></label>
                <input asp-for="tital" class="form-control" />
                <span asp-validation-for="tital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thedate" class="control-label"></label>
                <input asp-for="thedate" class="form-control" />
                <span asp-validation-for="thedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thecatogryId" class="control-label"></label>
                <input asp-for="thecatogryId" class="form-control" />
                <span asp-validation-for="thecatogryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

