@model WebApplication6.Models.thecatogry

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h4 style="margin-top:30px">thecatogry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="discraption" class="control-label"></label>
                <textarea asp-for="discraption" class="form-control" ></textarea>
                <span asp-validation-for="discraption" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" style="margin-top:30px" />
                    <a asp-action="Index" class="btn btn-success btn border-top" style="margin-top:30px">Back to List</a>
            </div>
        </form>
    </div>
</div>


</div>




